.letter-title {
    margin: 20px 0px;
    font-family: 'Playfair Display', serif;
}

.letter {
    text-align: left;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ddd;
}

.letter-content {
    margin-bottom: 80px;
}

h3 {
    text-align: center;
}