#letters {
    background-color: #f0f0f0;
}

#save-template {
    margin: 10px 0px;
    width: 50%;
    background: #427a9e;
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
}

.letter {
    text-align: left;
}

#letter-title {
    margin-bottom: 10px;
}

.letter-row {
    margin-bottom: 80px;
}

#letter-templates {
    padding: 20px 40px;
}

h3 {
    text-align: center;
}

.templates-row {
    padding-top: 20px;
}