/* Universal Elements */
p {
    margin-bottom: 8px;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin: 5px 0px;
}

h5, h6 {
    text-align: center;
}

.inner {
    background-color: white;
    padding: 15px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
}

.profile-container {
    margin-bottom: 100px;
}

/* Profile Header */
img {
    margin: 10px auto;
    height: 200px;
    width: auto;
}

.profile-header {
    margin: 20px 0px;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
}

.header-info {
    margin: auto 0;
}

.social-links {
    margin-left: -10px;
}

/* Content Sections */
.content-row {
    margin-bottom: 20px;
}

.section-title {
    text-align: center;
    border-bottom: 2px solid #427a9e;
    margin-bottom: 20px;
    padding: 0px 0px 15px 0px;
}

/* Graphs and Charts Section */
.chart-section {
    height: 200px;
    padding-right: 10px; 
}

/* User Rating Section */
.rating-section {
    height: 200px;
}

.ratings {
    display: inline-block;
}

#user-rating {
    text-align: center;
    font-size: 20px;
}

.rating-button {
    font-size: 14px;
    background: #427a9e;
    border: none;
    border-radius: 50px;
    margin: 10px;
    width: 80px;
}

.rating-button:hover {
    background: #427a9e;
}

/* News Section */
.news {
    padding-left: 10px;
    height: 100%;
    overflow: auto;
    height: 600px;
}

#news-title {
    margin-left: 5px;
}

/* Bills Section */
.bills {
    height: 400px;
    overflow: auto;
    padding-right: 10px;
}

#bills-title {
    margin-right: 5px;
}


