#landing-main {
    color: #fff;
    height: 100%;
    width: 100%;
}

#title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 40px;
}

.landing-quote {
    text-align: center;
}

.landing-description {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.circle-bkg {
    background: #1c3559;
    margin: auto;
    margin-top: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.icon {
    position: absolute;
    left: 20%;
    bottom: 7%;
    text-align: center;
}

i.icon {
    font-size: 50px;
    color: #fff;
}

i.card {
    background-color: rgba(0,0,0,0.0);
    border: none;
}