footer {
    background: #1c3559;
    height: 60px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footer-text {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}