form {
    padding: 5px 30%;
    background-color: #1c3559;
}

.form-group {
    text-align: center;
    margin: 5px;
}

@media screen and (max-width: 640px) {

    form {
        padding: 5px 4%;
        background-color: #1c3559;
    }

}